README.md
#<Build and Release Folders>
#<bin-debug>
#<bin-release>
#<[obj>
#<[bin>
<2
#<Other files and folders>
#<settings>
<2
#<Executables>
#<Project files i.e. project .actionScriptProperties and .flexProperties>
#<should NOT be excluded as they contain compiler settings and other important>
#<information for EclipseFlash>
<2
# Build and Release Folders
bin-debug/
bin-release/
[¹1¹]obj/bin-debug
[²2²]bn/bin-release
<2
# Other files and folders
#<.settings/
<2
# Executables
[¹1¹]
[¹1¹]obj/bin-debug
[²2²]
[²2²]bn/bin-release
main
