<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>

  <head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Layout overview for Windows apps </title>
      <meta name="viewport" content="width=device-width">
      <meta name="title" content="Layout overview for Windows apps ">
    
    <meta name="description" content="Learn how to create a flexible UI that looks great on different screen sizes, window sizes, resolutions, and orientations.">
      <link rel="shortcut icon" href="../../../favicon.ico">
      <link rel="stylesheet" href="../../../styles/docfx.vendor.min.css">
      <link rel="stylesheet" href="../../../styles/docfx.css">
      <link rel="stylesheet" href="../../../styles/main.css">
      <meta property="docfx:navrel" content="">
      <meta property="docfx:tocrel" content="../../toc.html">
    
    
    
  </head>
  <body data-spy="scroll" data-target="#affix" data-offset="120">
    <div id="wrapper">
      <header>

        <nav id="autocollapse" class="navbar navbar-inverse ng-scope" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <a class="navbar-brand" href="../../../index.html">
                <img id="logo" class="svg" src="../../../logo.svg" alt="">
              </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
              <form class="navbar-form navbar-right" role="search" id="search">
                <div class="form-group">
                  <input type="text" class="form-control" id="search-query" placeholder="Search" autocomplete="off">
                </div>
              </form>
            </div>
          </div>
        </nav>

        <div class="subnav navbar navbar-default">
          <div class="container hide-when-search" id="breadcrumb">
            <ul class="breadcrumb">
              <li></li>
            </ul>
          </div>
        </div>
      </header>
      <div role="main" class="container body-content hide-when-search">

        <div class="sidenav hide-when-search">
          <a class="btn toc-toggle collapse" data-toggle="collapse" href="#sidetoggle" aria-expanded="false" aria-controls="sidetoggle">Show / Hide Table of Contents</a>
          <div class="sidetoggle collapse" id="sidetoggle">
            <div id="sidetoc"></div>
          </div>
        </div>
        <div class="article row grid-right">
          <div class="col-md-10">
            <article class="content wrap" id="_content" data-uid="">
<h1 id="layout">Layout</h1>

<p>These articles help you create a flexible UI that looks great on different screen sizes, window sizes, resolutions, and orientations.</p>
<section class="row">
<div class="column">
<h3 id="app-silhouettes"><a href="../basics/app-silhouette.html">App silhouettes</a></h3>
<p>Learn about common layout patterns.</p>
</div>
<div class="column">
<h3 id="app-title-bar"><a href="../basics/titlebar-design.html">App title bar</a></h3>
<p>Learn about design recommendations and behaviors of the parts of a standard title bar.</p>
</div>
</section>
<section class="row">
<div class="column">
<h3 id="screen-sizes-and-breakpoints"><a href="screen-sizes-and-breakpoints-for-responsive-design.html">Screen sizes and breakpoints</a></h3>
<p>Learn about screen sizes across the Windows ecosystem and how to design for breakpoints.</p>
</div>
<div class="column">
<h3 id="responsive-design-techniques"><a href="responsive-design.html">Responsive design techniques</a></h3>
<p>Learn about responsive design techniques that optimize your app's layout for breakpoints.</p>
</div>
</section>
<section class="row">
<div class="column">
<h3 id="layouts-with-xaml"><a href="layouts-with-xaml.html">Layouts with XAML</a></h3>
<p>Implement responsive UI in XAML with adaptive or tailored layouts.</p>
</div>
<div class="column">
<h3 id="layout-panels"><a href="layout-panels.html">Layout panels</a></h3>
<p>Learn about each type of layout panel and how to use them to arrange UI elements.</p>
</div>
</section>
<section class="row">
<div class="column">
<h3 id="alignment-margin-padding"><a href="alignment-margin-padding.html">Alignment, margin, padding</a></h3>
<p>Use alignment, margin, and padding to influence layout behavior.</p>
</div>
<div class="column">
<h3 id="spacing"><a href="../style/spacing.html">Spacing</a></h3>
<p>Use sizing to provide a balance between information density and user comfort.</p>
</div>
</section>

</article>
          </div>

          <div class="hidden-sm col-md-2" role="complementary">
            <div class="sideaffix">
              <div class="contribution">
                <ul class="nav">
                  <li>
                    <a href="https://github.com/MicrosoftDocs/windows-dev-docs/blob/copilot/fix-5606/hub/apps/design/layout/index.md/#L1" class="contribution-link">Edit this page</a>
                  </li>
                </ul>
              </div>
              <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" id="affix">
                <h5>In this article</h5>
                <div></div>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <footer>
        <div class="grad-bottom"></div>
        <div class="footer">
          <div class="container">
            <span class="pull-right">
              <a href="#top">Back to top</a>
            </span>
      
      <span>Generated by <strong>DocFX</strong></span>
          </div>
        </div>
      </footer>
    </div>

    <script type="text/javascript" src="../../../styles/docfx.vendor.min.js"></script>
    <script type="text/javascript" src="../../../styles/docfx.js"></script>
    <script type="text/javascript" src="../../../styles/main.js"></script>
  </body>
</html>
