<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="c6152f8a-e93e-437b-b933-29693a6b4d71" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>AsyncApp</DisplayName>
    <PublisherDisplayName>carolesn</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
    <Description>AsyncApp</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="asyncapp.exe" EntryPoint="AsyncApp.App">
      <VisualElements DisplayName="AsyncApp" Logo="Images\Logo.png" SmallLogo="Images\SmallLogo.png" Description="AsyncApp" ForegroundText="light" BackgroundColor="#222222" >
        <DefaultTile ShortName="AsyncApp" />
        <SplashScreen Image="Images\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>